body {
		font-family: sans-serif;
		font-size: 1.1em;
}

.page {
		display: none;
}

#shownewacct_acct {
		width: 480px;
}

.btn {
		border: 0px;
		background-color: lightskyblue;
		border-radius: 2px;
		margin: 2px;
		font-size: 1em;
}

.btn:hover {
		background-color: deepskyblue;
}

.login_grid {
		display: grid;
		grid-template-columns: 1fr 2fr;
}

.row {
		display: flex;
		flex-direction: row;
}

.row_cell {
		flex: 1;
}

#oldaccts {
		width: 100%;
		border-style: solid none solid none;
		border-width: thin;
}

tr:nth-child(even) {
    background-color: cyan;
}

.acct_row:hover {
		background-color: lightskyblue;
}

.center_td {
		text-align: center;
}

#oldaccts span,img {
		cursor: pointer;
}

.tip {
    position: relative;
    display: inline-block;
}

.tip .tiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 4px;
    padding: 2px;
		font-size: 0.8em;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 30%;
		margin-left: -20px;
}

.tip:hover .tiptext {
    visibility: visible;
}
