body {
		font-family: sans-serif;
		font-size: 1.1em;
}

.page {
		display: none;
}

.btn {
		border: 0px;
		background-color: lightskyblue;
		border-radius: 2px;
		margin: 2px;
		font-size: 1em;
}

.btn:hover {
		background-color: deepskyblue;
}

.status_left {
    float: left;
}

.status_right {
    float: right;
}

#status_box {
		overflow: auto;
    position: relative;
		display: block;
		font-size: 0.6em;
}

.login_grid {
		display: grid;
		grid-template-columns: 1fr 2fr;
}

.row {
		display: flex;
		flex-direction: row;
}

.row_cell {
		flex: 1;
}

#oldaccts {
		width: 100%;
		border-style: solid none solid none;
		border-width: thin;
}

tr:nth-child(even) {
    background-color: cyan;
}

.acct_row:hover {
		background-color: lightskyblue;
}

.center_td {
		text-align: center;
}

#oldaccts span,img {
		cursor: pointer;
}
